*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
:root{
    /*Colors*/
    --bitcoin-color:#F7931A;
    --soft-color1:#FFE9D5;
    --secondary-color:#1A9AF7;
    --soft-color2:#E7F5FF;
    --warm-dark:#201E1C;
    --dark:#282623;
    --grey:#BABABA;
    --off-light:#FAF8F7;
    --just-light:#fff;
}
html{
    font-size:62.5%;
    font-family:"DM Sans",sans-serif;
}
header{
    display:flex;
    position:relative;
    flex-direction:column;
    justify-content:center;
    width:100%;
    min-width:320px;
    height:334px;
    text-align:center;
    align-items:center;
    background:linear-gradient(207.8deg, var(--warm-dark)  16.69%, var(--bitcoin-color) 100%);
}
header img{
    width:150px;
    height:24px;
    margin-top:60px;
}
.header__title-container{
    width:90%;
    min-width:290px;
    max-width:900px;
    height:298px;
    margin-top:40px;
    text-align: center;
}
.header__title-container h1 {
    color:var(--just-light);
    font-size:2.4rem;
    font-weight:bold;
    line-height:2.6rem;
}
.header__title-container p{
    color:var(--soft-color1);
    font-size:1.8rem;
    font-weight:500;
    line-height:1.4rem;
    margin-top:25px;
}
.header__title-container .header__button{
    position:absolute;
    top:calc(100% - 24px);
    left:calc(50% - 115px);
    background:var(--off-light);
    text-decoration: none;
    padding:15px;
    width:229px;
    height:48px;
    font-weight:bold;  
    font-size:1.4rem;
    color:var(--dark);
    /*Shad*/
    box-shadow:0px 4px 8px rgba(89, 73, 30, 0.16) ;
    border:none;
    border-radius:5px;
}
.header__button span {
    display:inline-block;
    height:8px;
    width:13px;
    margin-left:10px;
    background-image:url("../assets/icons/vectorDown.svg");
}
main{
    display:flex;
    flex-direction: column;
    height: auto;
    background: var(--off-light);
}
.main-exchange{
    height:auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange__bitcoin{
    background:url("../assets/images/bitcoin.svg");
    width:200px;
    height:200px;
    margin:0 auto;
    margin-bottom: 50px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.main-exchange__information{
    width: 90%;
    min-width: 288px;
    max-width:900px;
    margin: 0 auto;
}
.main-exchange__information h2{
    margin-bottom:10px;
    font-weight: bold;
    font-size: 2.4rem;
    color:var(--warm-dark);
    line-height:2.6rem;
}
.main-exchange__information p{
    margin-bottom 30px;;
    font-size: 1.4rem;
    font-weight: 500;
    color:#757575;
    line-height:1.6rem;
}




