*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
:root{
    /*Colors*/
    --bitcoin-color:#F7931A;
    --soft-color1:#FFE9D5;
    --secondary-color:#1A9AF7;
    --soft-color2:#E7F5FF;
    --warm-dark:#201E1C;
    --dark:#282623;
    --grey:#BABABA;
    --off-light:#FAF8F7;
    --just-light:#fff;
}
html{
    font-size:62.5%;
    font-family:"DM Sans",sans-serif;
    scroll-behavior: smooth;
}

header{
    display:flex;
    position:relative;
    flex-direction:column;
    justify-content:center;
    width:100%;
    min-width:320px;
    height:334px;
    text-align:center;
    align-items:center;
    background:linear-gradient(207.8deg, var(--warm-dark)  16.69%, var(--bitcoin-color) 100%);
}
header img{
    width:150px;
    height:24px;
    margin-top:60px;
}
.header__title-container{
    width:90%;
    min-width:290px;
    max-width:900px;
    height:298px;
    margin-top:40px;
    text-align: center;
}
.header__title-container h1 {
    color:var(--just-light);
    font-size:2.4rem;
    font-weight:bold;
    line-height:2.6rem;
}
.header__title-container p{
    color:var(--soft-color1);
    font-size:1.8rem;
    font-weight:500;
    line-height:1.4rem;
    margin-top:25px;
}
.header__title-container .header__button{
    position:absolute;
    top:calc(100% - 24px);
    left:calc(50% - 115px);
    background:var(--off-light);
    text-decoration: none;
    padding:15px;
    width:229px;
    height:48px;
    font-weight:bold;  
    font-size:1.4rem;
    color:var(--dark);
    /*Shadow*/
    box-shadow:0px 4px 8px rgba(89, 73, 30, 0.16) ;
    border:none;
    border-radius:5px;
}
.header__button span {
    display:inline-block;
    height:8px;
    width:13px;
    margin-left:10px;
    background-image:url("../assets/icons/vectorDown.svg");
}
main{
    display:flex;
    flex-direction: column;
    height: auto;
    background: var(--off-light);
}
.main-exchange{
    height:auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange__bitcoin{
    background:url("../assets/images/bitcoin.svg");
    width:200px;
    height:200px;
    margin:0 auto;
    margin-bottom: 50px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.main-exchange__information{
    width: 90%;
    min-width: 288px;
    max-width:900px;
    margin: 0 auto;
}
.main-exchange__information h2{
    margin-bottom:10px;
    font-weight: bold;
    font-size: 2.4rem;
    color:var(--warm-dark);
    line-height:2.6rem;
}
.main-exchange__information p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    color:#757575;
    line-height:1.6rem;
}
.main-exchange__table{
    display: flex;
    height:400px;
    overflow-x: scroll;
    overscroll-behavior-x:contain;
    scroll-snap-type: x majority;
    margin: 0 40px 0 20px; 
}
.slide-container{
    width:100%;
    margin: 20px;
}
.main__currency-table, .main__commissions-table{
    width: 70%;
    min-width: 235px;
    max-width:500px;
    height:360px;
    margin:0 auto ;
    font-family: "Inter" , sans-serif;
    text-align: center;
    scroll-snap-align:center;
}
.currency-table__title, .commissions-table__title{
    color: var(--bitcoin-color);
    font-weight: bold;
    font-size: 1.8rem;
    line-height:2.3rem;
    margin-bottom: 15px;
    text-align: start;
    margin-left:30px;
}
.commissions-table__title{
    color:var(--secondary-color);
    font-family: "DM Sans", sans-serif;
}
.currency-table__container, .commissions-table__container{
    width:90%;
    min-width:230px;
    max-width:300px;
    height:250px;
    margin:0 auto;
}
.currency-table__container table, .commissions-table__container table  {
    background:var(--just-light);
    height:100%;
    width: 100%;
    border-radius: 15px;
}
.currency-table__container table td, .commissions-table__container table td {
    padding: 8px;
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height:2rem;
    color:var(--grey);
}
.commissions-table__container table td{
    color:#757575;
}
.currency-table__container .table__right .commissions-table__container .table__right{
    font-size: 1.4rem;
    font-weight:normal;
    line-height: 1.7rem;
    color: #757575;
}
.main-exchange__table table td:first-child{
    color:#B5B0AC;
    text-align:start;

}
.main-exchange__table .table__right{
    color:#757575;
    padding-left:15px;
}    
table span{
    display: inline-block;
    background-image: url("../assets/icons/redArrow.svg");
    width:12px;
    height:12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: end;
    margin-left: 10px;
}
.currency-table__container .trending__up{
    display: inline-block;
    background-image: url("../assets/icons/greenArrow.svg");
    width: 12px;
    height: 12px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    margin-left:10px;
}
.currency-table__date, .commissions-table__date{
    background: var(--soft-color1);
    border-radius: 4px;
    width:max-content;
    height: 30px;
    margin:15px auto 0;
    padding:8px;
    color:var(--warm-dark);
    font-weight: 300;
    font-size: 1.2rem;
}
.commissions-table__date{
    background: var(--soft-color2) ;
    color: var(--dark);
}
.main__product-detail{
    position:relative;
    background:var(--warm-dark);
    color:#808080;
    width:100%;
    min-width: 220px;
    padding:20px 10px;
    line-height: 1.8rem;
    font-size:1.4rem;
    margin-top:30px;
}
.main__product-detail > span{
    position:absolute;
    width:40px;
    height: 25px;
    background-image: url("../assets/images/potatodown.svg");
    top: -12.5px;
    left:calc(50% - 40px/2);
}
.product-detail__head{
    width:90%;
    min-width: 258px;
    margin:30px auto 20px;
}
.product-detail__head h2{
    font-weight:bold;
    font-size:2.4rem;
    line-height: 2.6rem;
    margin-bottom: 20px;
    color:var(--just-light);
}
.main__product-detail p{
    font-size: 1.4rem;
    font-weight: 500;
}
.cards-container__card{
    min-width:288px;
    max-width:400px;
    min-height:158px;
    text-align: start;
    padding:15px;
    margin:0 auto 12px ;
    border-radius: 6px;
    background:var(--dark);
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.16);
}
.cards-container__card > span {
    display: inline-block;
    width:20px;
    height:20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.cards-container__card .card__clock-icon{
    background-image:url("../assets/icons/clock.svg");
}
.cards-container__card .card__eye-icon{
    background-image:url("../assets/icons/eye.svg");
}
.cards-container__card .card__dollar-icon{
    background-image:url("../assets/icons/dollar.svg");
}
.cards-container__card .card__check-circle-icon{
   background-image:url("../assets/icons/check-circle.svg");
}
.cards-container__card .card__title{
    color:var(--just-light);
    font-weight: bold;
    margin:8px 0 10px;
    font-size:1.8rem;
}
.cards-container__card .card__body{
    font-weight: 500;
}
.bitcoin-img-container{
    display: inline-block;
    background: url("https://i.ibb.co/y5bwQ7S/bitcoinbaby-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-width:320px;
    min-height:50vh;
    text-align: center;
}
.bitcoin-img-container h2{
    padding-top: 60px;
    color:var(--just-light);
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
}
.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom:70px;
    text-align: center;
}
.plans-container__head{
    width:90%;
    min-width: 288px;
    max-width:400px;
    margin:0 auto 50px;
}
.plans-container__head h2{
    padding-top: 50px;
    font-weight:bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color:var(--warm-dark);
}
.plans-container__head p{
    padding-top: 30px;
    font-weight: 500;
    font-size:1.4rem;
    line-height: 1.8rem;
    color:#757575;
}
.plans-container--slider{
    display: flex;
    height:316px;
    overflow-x: scroll;
    overscroll-behavior-x:contain;
    scroll-snap-type:x proximity;
}
.plans-container__card {
    position: relative;
    scroll-snap-align:center;
    width:70%;
    min-width: 190px;
    max-width: 300px;
    height:250px;
    margin:50px 10px 0;
    padding:0 15px;
    border-radius: 15px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    background: var(--just-light);
}
.shadow1{
    box-shadow: 0px 4px 8px #0A2A22;
}
.shadow2{
     box-shadow: 0px 4px 8px #61380B;
}
.shadow3{
    box-shadow: 0px 4px 8px #0B173B;
}
.plans-container__card > p{
    position: absolute;
    min-width:120px;
    height:31px;
    top: -15px;
    left:calc(50% - 60px);
    padding:8px;
    border-radius: 8px;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color:var(--just-light);
}
.plans-container__card:first-child > p{
    background: #298A08;
}
.plans-container__card:nth-child(2) > p{
    background:var(--bitcoin-color);
}
.plans-container__card:last-child > p{
    background: var(--secondary-color);
}
.body__title{
    color:#000000;
    font-size: "Dm Sans", sans-serif;
    font-weight:500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 30px 0 15px;
}
.body__number{
    font-size: "Inter", sans-serif;
    font-weight:bold;
    font-size: 5.2rem;
    line-height: 6.3rem;
    color:#000000;
    display: flex;
    justify-content: center;
}
.body__number sup{
    font-size: 1.2rem;
    color:#363636;
    line-height: 1.5rem;
    font-weight: 500;
}
.body__note {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    line-height: 1.5rem;
    color:#757575;
}
.card__body{
    height: auto;
}
.plans-container__card .plan-card__ca{
    position: absolute;
    top: calc(100% - 68px);
    left: calc(50% - 75px);
    width:150px;
    height:48px;
    border-radius: 4px;
    padding:12px 16px;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family:"DM Sans",sans-serif;
    cursor: pointer;
    color:var(--warm-dark);
}
.plans-container__card:first-child .plan-card__ca {
    background: #F8FBEF; 
    border:2px solid #252;
}
.plans-container__card:first-child .plan-card__ca:hover{
    background: #ccffcc;
}
.plans-container__card:nth-child(2) .plan-card__ca{
    background: var(--off-light);
    border:2px solid #B45F04;
}
.plans-container__card:nth-child(2) .plan-card__ca:hover{
    background: var(--soft-color1);
}
.plans-container__card:last-child .plan-card__ca{
    background: var(--soft-color2);
    color:var(--dark);
    border: 2px solid #0B2F3A;
}
.plans-container__card:last-child .plan-card__ca:hover{
    background: #b3e6ff;
}
.plans-container__card button > span{
    display: inline-block;
    background-image:url(../assets/icons/arrow-right.svg);
    width:20px;
    height:20px;
    margin-left: 4px;
    vertical-align:text-bottom;
}
 ul{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #757575;
    margin: 0 auto;
}
ul li{
    text-align:center;
    list-style:none;

}
.plans-container__card:first-child button > span{
   filter:hue-rotate(50deg);
} 
.plans-container__card:last-child button > span{
   filter: hue-rotate(180deg);
} 

.plans-container--slider::-webkit-scrollbar{
    background-color: var(--soft-color1);
    height: 3px;
}
.plans-container--slider::-webkit-scrollbar-thumb{
  background-color: var(--bitcoin-color);
}


footer{
    display: flex;
    background: var(--bitcoin-color);
    font-weight:500;
    line-height: 1.8rem;
    min-height: 150px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
footer section{
    display: flex;
    justify-content: center;
    width:50%;
    align-items: center;
}
footer .left ul{
    color: var(--just-light);
    list-style: none;
    font-size:1.4rem;
}
footer .left li{
    padding-top:10px;
}
footer .left a{
    text-decoration: none;
    color: var(--just-light); 
}
footer .right{
    color: var(--soft-color1);
    font-size: .8rem;  
    justify-content:flex-end;
}
