*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
:root{
    /*Colors*/
    --bitcoin-color:#F7931A;
    --soft-color1:#FFE9D5;
    --secondary-color:#1A9AF7;
    --soft-color2:#E7F5FF;
    --warm-dark:#201E1C;
    --dark:#282623;
    --grey:#BABABA;
    --off-light:#FAF8F7;
    --just-light:#fff;
}
html{
    font-size:62.5%;
    font-family:"DM Sans",sans-serif;
}
header{
    display:flex;
    position:relative;
    flex-direction:column;
    justify-content:center;
    width:100%;
    min-width:320px;
    height:334px;
    text-align:center;
    align-items:center;
    background:linear-gradient(207.8deg, var(--warm-dark)  16.69%, var(--bitcoin-color) 100%);
}
header img{
    width:150px;
    height:24px;
    margin-top:60px;
}
.header__title-container{
    width:90%;
    min-width:290px;
    max-width:900px;
    height:298px;
    margin-top:40px;
    text-align: center;
}
.header__title-container h1 {
    color:var(--just-light);
    font-size:2.4rem;
    font-weight:bold;
    line-height:2.6rem;
}
.header__title-container p{
    color:var(--soft-color1);
    font-size:1.8rem;
    font-weight:500;
    line-height:1.4rem;
    margin-top:25px;
}
.header__title-container .header__button{
    position:absolute;
    top:calc(100% - 24px);
    left:calc(50% - 115px);
    background:var(--off-light);
    text-decoration: none;
    padding:15px;
    width:229px;
    height:48px;
    font-weight:bold;  
    font-size:1.4rem;
    color:var(--dark);
    /*Shad*/
    box-shadow:0px 4px 8px rgba(89, 73, 30, 0.16) ;
    border:none;
    border-radius:5px;
}
.header__button span {
    display:inline-block;
    height:8px;
    width:13px;
    margin-left:10px;
    background-image:url("../assets/icons/vectorDown.svg");
}
main{
    display:flex;
    flex-direction: column;
    height: auto;
    background: var(--off-light);
}
.main-exchange{
    height:auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange__bitcoin{
    background:url("../assets/images/bitcoin.svg");
    width:200px;
    height:200px;
    margin:0 auto;
    margin-bottom: 50px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.main-exchange__information{
    width: 90%;
    min-width: 288px;
    max-width:900px;
    margin: 0 auto;
}
.main-exchange__information h2{
    margin-bottom:10px;
    font-weight: bold;
    font-size: 2.4rem;
    color:var(--warm-dark);
    line-height:2.6rem;
}
.main-exchange__information p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    color:#757575;
    line-height:1.6rem;
}
.main__currency-table{
    width: 70%;
    min-width: 235px;
    max-width:500px;
    height:360px;
    margin:0 auto;
    font-family: "Inter" , sans-serif;
}
.currency-table__title{
    color: var(--bitcoin-color);
    font-weight: bold;
    font-size: 1.8rem;
    line-height:2.3rem;
    margin-bottom: 15px;
}
.currency-table__container{
    width:90%;
    min-width:230px;
    max-width:300px;
    height:250px;
    margin:0 auto;
}
.currency-table__container table {
    background:var(--just-light);
    height:100%;
    width: 100%;
    border-radius: 15px;
}
.currency-table__container table td {
    padding: 8px;
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height:2rem;
    color:var(--grey);
}
.currency-table__container .table__right{
    font-size: 1.4rem;
    font-weight:normal;
    line-height: 1.7rem;
    color: #757575;
}
.main-exchange__table table td:first-child{
    color:#B5B0AC;
    text-align:start;
}
.main-exchange__table .table__right{
    color:#757575;
    padding-left:15px;
}    
table span{
    display: inline-block;
    background-image: url("../assets/icons/redArrow.svg");
    width:12px;
    height:12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: end;
    margin-left: 10px;
}
.currency-table__container .trending__up{
    display: inline-block;
    background-image: url("../assets/icons/greenArrow.svg");
    width: 12px;
    height: 12px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    margin-left:10px;
}
.currency-table__date{
    background: var(--soft-color1);
    border-radius: 4px;
    width:max-content;
    height: 30px;
    margin:15px auto 0;
    padding:8px;
    color:var(--warm-dark);
    font-weight: 300;
    font-size: 1.2rem;
}

.main__commissions-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px ;
    height: 360px;
    margin:0 auto;
    font-family: "Inter" , sans-serif;
}
.commissions-table__title{
    color:var(--secondary-color);
    font-size: 1.8rem;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    line-height: 2.3rem;
    margin: 15px 0;
}
.commissions-table__container{
    width: 90%;
    min-width: 235px;
    max-width:300px;
    height: 250px;
    margin:0 auto;
}
.commissions-table__container table{
    background:var(--just-light);
    margin:0 auto;
    height: 100%;
    width:100%;
    border-radius: 15px;
    padding:8px;

}
.commissions-table__container table td{
    font-size: 1.6rem;
    line-height: 1.9rem;
    color:#757575;
}
.commissions-table__container .table__right{
    font-size: 1.4rem;
    font-weight: 400;
    color: #757575;
    line-height: 1.6rem;
}
.commissions-table__date{
    margin: 15px auto 0;
    border-radius: 4px;
    background: var(--soft-color2) ;
    height: 30px;
    width: max-content;
    padding: 8px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--dark);
    font-weight: 300;
}
.main__product-detail{
    position:relative;
    background:var(--warm-dark);
    color:#808080;
    width:100%;
    min-width: 220px;
    padding:20px 10px;
    line-height: 1.8rem;
    font-size:1.4rem;
    margin-top:30px;
}
.main__product-detail > span{
    position:absolute;
    width:40px;
    height: 25px;
    background-image: url("../assets/images/potatodown.svg");
    top: -12.5px;
    left:calc(50% - 40px/2);
}
.product-detail__head{
    width:90%;
    min-width: 258px;
    margin:30px auto 20px;
}
.product-detail__head h2{
    font-weight:bold;
    font-size:2.4rem;
    line-height: 2.6rem;
    margin-bottom: 20px;
    color:var(--just-light);
}
.main__product-detail p{
    font-size: 1.4rem;
    font-weight: 500;
}
.cards-container__card{
    min-width:288px;
    max-width:400px;
    height:158px;
    text-align: start;
    padding:15px;
    margin:0 auto 12px ;
    border-radius: 6px;
    background:var(--dark);
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.16);
}
.cards-container__card > span {
    display: inline-block;
    width:20px;
    height:20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.cards-container__card .card__clock-icon{
    background-image:url("../assets/icons/clock.svg");
}
.cards-container__card .card__eye-icon{
    background-image:url("../assets/icons/eye.svg");
}
.cards-container__card .card__dollar-icon{
    background-image:url("../assets/icons/dollar.svg");
}
.cards-container__card .card__check-circle-icon{
   background-image:url("../assets/icons/check-circle.svg");
}
.cards-container__card .card__title{
    color:var(--just-light);
    font-weight: bold;
    margin:8px 0 10px;
    font-size:1.8rem;
}
.cards-container__card .card__body{
    font-weight: 500;
}



